
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(135deg, #000000, #000000);
    font-family: "Press Start 2P", cursive;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Letras animadas douradas */
.letrasAnimadas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.letra {
    position: absolute;
    font-size: 22px;
    color:  rgb(30, 45, 255);
    opacity: 0.85;
    animation: descer 5s linear infinite;
}

@keyframes descer {
    0% { transform: translateY(-20px); }
    100% { transform: translateY(110vh); }
}

/* Container (azul) */
.container {
    background: #0000003d;
    padding: 25px;
    width: 360px;
    border-radius: 15px;
    text-align: center;
    border: 3px solid  rgb(30, 45, 255);
    box-shadow: 0 0 20px  rgb(30, 45, 255);
    position: relative;
    z-index: 10;
}

/* Título LOGIN / CADASTRO */
h2 {
    color:  rgb(30, 45, 255);
    margin-bottom: 20px;
    font-size: 20px;
    text-shadow: 0 0 3px rgba(0,0,0,0.2);
}

/* Campos de input */
input {
    width: 90%;
    padding: 12px;
    margin-top: 12px;
    border: 2px solid rgb(30, 45, 255);
    background: #faf8f8;
    color: #333;
    border-radius: 6px;
    font-family: "Press Start 2P", cursive;
}

/* Botão */
button {
    width: 95%;
    padding: 14px;
    margin-top: 20px;
    background: rgb(30, 45, 255);
    color: #ffffff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-family: "Press Start 2P", cursive;
}

button:hover {
    background: rgb(0, 0, 0);
}

/* Link: Criar conta / Já tenho conta */
.link {
    margin-top: 12px;
    font-size: 12px;
    color: rgb(30, 45, 255);
    cursor: pointer;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.link:hover {
    color: black;
}